<nav>
  <a routerLink="/accounts">All Accounts</a>
</nav>

<div style="text-align: center">
  <h1>
    {{account.name}}
  </h1>

  <h2>Incomes</h2>

  <app-income-list [resourcesIncome]="resourcesIncome"></app-income-list>

  <form (ngSubmit)="onPaymentSubmit()" #paymentForm="ngForm">
    <div class="form-row">
      <div class="col-8">
        <input type="text" class="form-control mb-6 mr-sm-6" id="paymentTitle" required [(ngModel)]="payment.title" name="title">
      </div>

      <div class="col">
        <input type="number" class="form-control form-control mb-2 mr-sm-2" id="paymentAmount" required [(ngModel)]="payment.amount" name="amount">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary mb-2">Pay it</button>
      </div>
    </div>
  </form>

  <h2>
    Transactions
  </h2>
  <ul class="list-group" *ngIf="(transactions && transactions.length)">
    <li class="list-group-item" *ngFor="let transaction of transactions">
      <span>{{ transaction.value }}: {{transaction.from.title}} &rarr; {{transaction.to.title}} ({{transaction.to.amount}})</span>
      <span *ngIf="transaction.to.complete" class="badge badge-success">complete</span>
      <span *ngIf="!transaction.to.complete" class="badge badge-danger">incomplete ({{transaction.to.balance}})</span>
    </li>
  </ul>
</div>

